/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-smart-list-block {
	.smart-list {
		display: flex;
		gap: var(--spaceBetween, 24px);
		list-style: none;
		flex-wrap: wrap;

		margin-top: var(--marginTop-desktop);
		margin-right: var(--marginRight-desktop);
		margin-bottom: var(--marginBottom-desktop);
		margin-left: var(--marginLeft-desktop);

		padding-top: var(--paddingTop, 5px);
		padding-left: var(--paddingLeft, 5px);
		padding-right: var(--paddingRight, 5px);
		padding-bottom: var(--paddingBottom, 5px);
		margin: 0;

		&.has-normal {
			.smart-item .title,
			.smart-item .title-without-size {
				color: var(--titleColor, #757575);
				transition: color 0.3s ease;
			}
			.smart-item .description,
			.smart-item .description-without-size {
				color: var(--descriptionColor, #2f2f2f);
				transition: color 0.3s ease;
			}
		}

		&.has-hover {
			.smart-item .title:hover,
			.smart-item .title-without-size:hover {
				color: var(--titleHoverColor, #757575);
			}
			.smart-item .description:hover,
			.smart-item .description-without-size:hover {
				color: var(--descriptionHoverColor, #2f2f2f);
			}
		}

		&.has-border {
			border: calc(var(--borderWidth, 1) * 1) var(--borderStyle, solid)
				var(--borderColor, #dddddd);
		}
		background-color: var(--backgroundColor, transparent);

		//Border Radius
		border-radius: var(--radiusTop, 0px) var(--radiusRight, 0px)
			var(--radiusBottom, 0px) var(--radiusLeft, 0px);
		background-image: linear-gradient(
				var(--overlayColor, transparent),
				var(--overlayColor, transparent)
			),
			var(--backgroundGradient, none), var(--backgroundImage, none);

		position: relative;

		background-size: auto, auto, var(--backgroundSize, cover);

		background-position: center;
		background-repeat: no-repeat;
		&.is-horizontal {
			flex-direction: row;
		}
		&.is-vertical {
			flex-direction: column;
		}
		&.alignment-left {
			justify-content: flex-start;
			align-items: flex-start;
		}

		&.alignment-center {
			justify-content: center;
			align-items: center;
		}
		&.alignment-right {
			justify-content: flex-end;
			align-items: flex-end;
		}

		&.has-divider {
			// Reset all borders first
			.smart-item,
			.wp-block-create-block-smart-list-item {
				border-top: none;
				border-right: none;
				border-bottom: none;
				border-left: none;
			}

			&.is-vertical {
				// Apply divider to all items
				.smart-item,
				.wp-block-create-block-smart-list-item {
					border-bottom-width: var(--dividerWidth, 1px);
					border-bottom-style: var(--dividerStyle, solid);
					border-bottom-color: var(--dividerColor, #dddddd);
					padding-bottom: 8px;
					margin-bottom: 8px;
				}

				// Remove divider from last child
				.smart-item:last-child,
				.wp-block-create-block-smart-list-item:last-child {
					border-bottom: none !important;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}

			&.is-horizontal {
				// Reset vertical styles
				.smart-item,
				.wp-block-create-block-smart-list-item {
					border-bottom: none !important;
					padding-bottom: 0;
					margin-bottom: 0;
				}

				// Apply horizontal divider to all items
				.smart-item,
				.wp-block-create-block-smart-list-item {
					border-right-width: var(--dividerWidth, 1px);
					border-right-style: var(--dividerStyle, solid);
					border-right-color: var(--dividerColor, #dddddd);
					padding-right: 8px;
					margin-right: 8px;
				}

				// Remove divider from last child
				.smart-item:last-child,
				.wp-block-create-block-smart-list-item:last-child {
					border-right: none !important;
					padding-right: 0;
					margin-right: 0;
				}
			}
		}

		.description {
			margin: 5px 0 0;
			font-size: var(--descriptionFontSize, 16px);
			font-weight: var(--descriptionWeight, 400);
			font-family: var(--descriptionFont, "Roboto");
			letter-spacing: var(--descriptionSpacing, 0);
			line-height: var(--descriptionHeight, 1.5);
		}
	}

	.smart-list .smart-item {
		display: flex;
		align-items: center;
		gap: var(--iconGap, 12px);
		padding: 8px 0;
		.list-content {
			display: flex;
			flex-direction: column;
			gap: var(--gapBetweenTitleAndDescription, 6px);
		}

		&.icon-before {
			flex-direction: row;
		}
		&.icon-after {
			flex-direction: row;

			.render-icon {
				order: 2;
			}
		}
		&.icon-top {
			flex-direction: column;
			align-items: flex-start;

			.render-icon {
				order: 0;
			}
			.list-content {
				align-items: flex-start;
				width: 100%;
			}
		}

		&.icon-align-top {
			align-items: flex-start;
		}
		&.icon-align-center {
			align-items: center;
		}

		&.icon-align-bottom {
			align-items: flex-end;
		}

		&.icon-top.icon-align-top {
			align-items: flex-start;
		}

		&.icon-top.icon-align-center {
			align-items: center;
		}

		&.icon-top.icon-align-bottom {
			align-items: flex-end;
		}
	}

	.smart-list .smart-item:last-child {
		border-bottom: none;
	}

	.render-icon {
		width: var(--iconSize-desktop, 24px);
		height: var(--iconSize-desktop, 24px);
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--icon-color, #757575);
		background-color: var(--bg-color, #eeeeee);
		border: var(--iconBorderWidth-desktop, 1px) var(--iconBorderStyle, solid)
			var(--iconBorderColor);
		border-radius: var(--iconRadiustop-desktop) var(--iconRadiusright-desktop)
			var(--iconRadiusbottom-desktop) var(--iconRadiusleft-desktop);
		padding: var(--iconPaddingtop-desktop) var(--iconPaddingright-desktop)
			var(--iconPaddingbottom-desktop) var(--iconPaddingleft-desktop);

		&.bg-circle {
			border-radius: 50%;
		}

		&.bg-triangle {
			transform: rotate(45deg);
		}

		&.bg-triangle svg {
			transform: rotate(-45deg);
		}

		&.bg-diamond {
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		}

		&.bg-circleCurve {
			border-radius: 40% 60% 55% 45%;
		}
	}

	.render-icon:hover {
		background-color: var(--bg-hover-color);
		color: var(--icon-hover-color);
	}

	.smart-list .list-content .title {
		font-size: var(--fontSize, 16px);
		font-weight: var(--weight, 400);
		font-family: var(--font, Roboto);
		color: var(--titleColor, #2f2f2f);
		letter-spacing: var(--spacing, 0);
		line-height: var(--height, 0);
	}

	.smart-list .list-content .title-without-size {
		font-weight: var(--weight, 400);
		font-family: var(--font, "Roboto");
		color: var(--titleColor, #757575);
	}

	.smart-list .list-content .description {
		font-size: var(--descriptionFontSize, 11px);
		font-weight: var(--descriptionWeight, 400);
		font-family: var(--descriptionFont, Roboto);
		color: var(--descriptionColor, #757575);
		letter-spacing: var(--descriptionSpacing, 0);
		line-height: var(--descriptionHeight, 0);
	}

	.smart-list .list-content .description-without-size {
		font-weight: var(--descriptionWeight, 400);
		font-family: var(--descriptionFont, "Roboto");
		color: var(--descriptionColor, #2f2f2f);
	}

	@media (max-width: 1024px) {
		.smart-list {
			gap: var(--spaceBetweenTablet, var(--spaceBetween, 24px));

			margin-top: var(--marginTop-tablet);
			margin-right: var(--marginRight-tablet);
			margin-bottom: var(--marginBottom-tablet);
			margin-left: var(--marginLeft-tablet);

			padding-top: var(--paddingTopTablet, var(--paddingTop, 5px));
			padding-right: var(--paddingRightTablet, var(--paddingRight, 5px));
			padding-bottom: var(--paddingBottomTablet, var(--paddingBottom, 5px));
			padding-left: var(--paddingLeftTablet, var(--paddingLeft, 5px));

			//Tablet Border radius
			border-radius: var(--radiusTopTablet, var(--radiusTop, 0px))
				var(--radiusRightTablet, var(--radiusRight, 0px))
				var(--radiusBottomTablet, var(--radiusBottom, 0px))
				var(--radiusLeftTablet, var(--radiusLeft, 0px));

			background-image: linear-gradient(
					var(--overlayColorTablet, var(--overlayColor)),
					var(--overlayColorTablet, var(--overlayColor))
				),
				var(--backgroundGradient, none), var(--backgroundImage, none);

			&.has-border {
				border: calc(var(--borderWidthTablet, 1) * 1) var(--borderStyle, solid)
					var(--borderColor, #dddddd);
			}

			.smart-item,
			.wp-block-create-block-smart-list-item {
				gap: var(--iconGapTablet, var(--iconGap, 12px));
			}

			.wp-block-create-block-smart-list-block,
			.list-content {
				--gapBetweenTitleAndDescription: var(
					--gapBetweenTitleAndDescriptionTablet,
					6px
				);
			}

			&.has-divider {
				.smart-item,
				.wp-block-create-block-smart-list-item {
					border-top: none;
					border-right: none;
					border-bottom: none;
					border-left: none;
				}
				&.is-vertical {
					.smart-item,
					.wp-block-create-block-smart-list-item {
						border-bottom-width: var(
							--dividerWidthTablet,
							var(--dividerWidth, 1px)
						);
						border-bottom-style: var(--dividerStyle, solid);
						border-bottom-color: var(--dividerColor, #dddddd);
						padding-bottom: 8px;
						margin-bottom: 8px;
					}

					.smart-item:last-child,
					.wp-block-create-block-smart-list-item:last-child {
						border-bottom: none !important;
						padding-bottom: 0;
						margin-bottom: 0;
					}
				}

				&.is-horizontal {
					.smart-item,
					.wp-block-create-block-smart-list-item {
						border-bottom: none !important;
						padding-bottom: 0;
						margin-bottom: 0;
					}

					.smart-item,
					.wp-block-create-block-smart-list-item {
						border-right-width: var(
							--dividerWidthTablet,
							var(--dividerWidth, 1px)
						);
						border-right-style: var(--dividerStyle, solid);
						border-right-color: var(--dividerColor, #dddddd);
						padding-right: 8px;
						margin-right: 8px;
					}

					.smart-item:last-child,
					.wp-block-create-block-smart-list-item:last-child {
						border-right: none !important;
						padding-right: 0;
						margin-right: 0;
					}
				}
			}
		}
		.wp-block-create-block-smart-list-block,
		.render-icon {
			width: var(--iconSize-tablet, 24px);
			height: var(--iconSize-tablet, 24px);
			border: var(--iconBorderWidth-tablet, 1px) var(--iconBorderStyle, solid)
				var(--iconBorderColor);

			padding: var(--iconPaddingtop-tablet) var(--iconPaddingright-tablet)
				var(--iconPaddingbottom-tablet) var(--iconPaddingleft-tablet);

			border-radius: var(--iconRadiustop-tablet) var(--iconRadiusright-tablet)
				var(--iconRadiusbottom-tablet) var(--iconRadiusleft-tablet);
		}

		.render-icon img {
			--iconWidth-desktop: var(--iconWidth-tablet);
			--iconHeight-desktop: var(--iconHeight-tablet);
			object-fit: contain;
		}
	}

	@media (max-width: 768px) {
		.smart-list {
			gap: var(--spaceBetweenMobile, var(--spaceBetween, 24px));

			margin-top: var(--marginTop-mobile);
			margin-right: var(--marginRight-mobile);
			margin-bottom: var(--marginBottom-mobile);
			margin-left: var(--marginLeft-mobile);
			padding-top: var(
				--paddingTopMobile,
				var(--paddingTopTablet, var(--paddingTop, 5px))
			);
			padding-right: var(
				--paddingRightMobile,
				var(--paddingRightTablet, var(--paddingRight, 5px))
			);
			padding-bottom: var(
				--paddingBottomMobile,
				var(--paddingBottomTablet, var(--paddingBottom, 5px))
			);
			padding-left: var(
				--paddingLeftMobile,
				var(--paddingLeftTablet, var(--paddingLeft, 5px))
			);
			&.has-border {
				border: calc(var(--borderWidthMobile, 1) * 1) var(--borderStyle, solid)
					var(--borderColor, #dddddd);
			}

			//Mobile Border radius

			border-radius: var(
					--radiusTopMobile,
					var(--radiusTopTablet, var(--radiusTop, 0px))
				)
				var(
					--radiusRightMobile,
					var(--radiusRightTablet, var(--radiusRight, 0px))
				)
				var(
					--radiusBottomMobile,
					var(--radiusBottomTablet, var(--radiusBottom, 0px))
				)
				var(--radiusLeftMobile, var(--radiusLeftTablet, var(--radiusLeft, 0px)));

			background-image: linear-gradient(
					var(--overlayColorMobile, var(--overlayColor)),
					var(--overlayColorMobile, var(--overlayColor))
				),
				var(--backgroundGradient, none), var(--backgroundImage, none);

			.smart-item,
			.wp-block-create-block-smart-list-item {
				gap: var(--iconGapMobile, var(--iconGap, 12px));
			}

			&.has-divider {
				.smart-item,
				.wp-block-create-block-smart-list-item {
					border-top: none;
					border-right: none;
					border-bottom: none;
					border-left: none;
				}

				&.is-vertical {
					.smart-item,
					.wp-block-create-block-smart-list-item {
						border-bottom-width: var(
							--dividerWidthMobile,
							var(--dividerWidth, 1px)
						);
						border-bottom-style: var(--dividerStyle, solid);
						border-bottom-color: var(--dividerColor, #dddddd);
						padding-bottom: 8px;
						margin-bottom: 8px;
					}

					.smart-item:last-child,
					.wp-block-create-block-smart-list-item:last-child {
						border-bottom: none !important;
						padding-bottom: 0;
						margin-bottom: 0;
					}
				}

				&.is-horizontal {
					.smart-item,
					.wp-block-create-block-smart-list-item {
						border-bottom: none !important;
						padding-bottom: 0;
						margin-bottom: 0;
					}

					.smart-item,
					.wp-block-create-block-smart-list-item {
						border-right-width: var(
							--dividerWidthMobile,
							var(--dividerWidth, 1px)
						);
						border-right-style: var(--dividerStyle, solid);
						border-right-color: var(--dividerColor, #dddddd);
						padding-right: 8px;
						margin-right: 8px;
					}

					.smart-item:last-child,
					.wp-block-create-block-smart-list-item:last-child {
						border-right: none !important;
						padding-right: 0;
						margin-right: 0;
					}
				}
			}

			.wp-block-create-block-smart-list-block,
			.list-content {
				--gapBetweenTitleAndDescription: var(
					--gapBetweenTitleAndDescriptionMobile,
					var(--gapBetweenTitleAndDescription, 6px)
				);
			}

			.wp-block-create-block-smart-list-block,
			.render-icon {
				width: var(--iconSize-mobile, 24px);
				height: var(--iconSize-mobile, 24px);
				border: var(--iconBorderWidth-mobile, 1px) var(--iconBorderStyle, solid)
					var(--iconBorderColor);

				padding: var(--iconPaddingtop-mobile) var(--iconPaddingright-mobile)
					var(--iconPaddingbottom-mobile) var(--iconPaddingleft-mobile);
				border-radius: var(--iconRadiusTop-mobile) var(--iconRadiusRight-mobile)
					var(--iconRadiusbottom-mobile) var(--iconRadiusleft-mobile);
			}

			.render-icon img {
				--iconWidth-desktop: var(--iconWidth-mobile);
				--iconHeight-desktop: var(--iconHeight-mobile);
				object-fit: contain;
			}
		}
	}
}
